<div class="container py-32">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Github username</mat-label>
    <input
      [(ngModel)]="username"
      #ctrl="ngModel"
      matInput
      placeholder="eg. dedyrahmat"
    />
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    class="justify-center items-center flex"
    (click)="onSearchClick()"
  >
    Search <mat-icon>search</mat-icon>
  </button>
</div>
